# --- CORE WEB ---
flask
Flask-Session
werkzeug
requests
python-dotenv
pdfkit

# --- DATA ---
numpy
pandas
scikit-learn
scipy
xgboost

# --- NLP ---
sentence-transformers
transformers
torch==2.10.0
spacy
groq
google-generativeai
nltk

# --- FILE PROCESSING ---
PyMuPDF
python-docx
pytesseract