flask
Flask-Session
werkzeug
requests
python-dotenv
pdfkit

numpy
pandas
scikit-learn
scipy
xgboost

sentence-transformers
transformers
torch==2.1.2
spacy
nltk

groq
google-generativeai

PyMuPDF
python-docx